/****** Header & footer ********/
body {
  font-family: 'Open Sans', sans-serif !important;
  font-size: 1.4em !important;
}

main {
  clear: both;
  float: left;
  width: 100%;
}

h1.single-h1 {
  margin: 2rem 0 1rem;
}

.home-search-bar {
  background: #7d9e07;
  padding: 2rem 15px;
}

.home-search-bar form.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  border-radius: 7px;
  overflow: hidden;
}

.home-search-bar form.search .search-input {
  width: calc(100% - 116px);
  border: none;
  padding: 5px 1rem;
  font-size: 1.25em;
}

.home-search-bar form.search .search-submit {
  width: 100px;
  border: none;
  background: #000;
  color: #fff;
  min-height: 4rem;
  font-size: 1.4em;
  text-align: center;
}

.home-search-bar .search-dropdown-form {
  margin-top: 2rem;
}

.home-search-bar .search-dropdown-form .search-select-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 767px) {
  .home-search-bar .search-dropdown-form .search-select-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.home-search-bar .search-dropdown-form .search-select-box {
  width: calc(33% - 2px);
  min-height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.home-search-bar .search-dropdown-form .search-select-box select, .home-search-bar .search-dropdown-form .search-select-box button {
  width: 100%;
  padding: 15px;
  cursor: pointer;
  border: none;
  overflow: hidden;
  border-radius: 6px;
}

.home-search-bar .search-dropdown-form .search-select-box option {
  cursor: pointer;
}

.home-search-bar .search-dropdown-form .search-select-box button {
  background: #000;
  color: #fff;
  font-size: 1.2em;
  text-transform: uppercase;
}

@media only screen and (max-width: 767px) {
  .home-search-bar .search-dropdown-form .search-select-box {
    width: 100%;
    min-height: 4rem;
    margin-bottom: 10px;
  }
}

.posts-loop {
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.posts-loop .posts-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 2rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.posts-loop .posts-item::after {
  content: '';
  width: 100%;
  height: 1px;
  background: #abcf3e;
  float: left;
  display: block;
  clear: both;
  margin-top: 2rem;
}

.posts-loop .posts-item .post-thumbnail {
  width: 160px;
  margin-right: 30px;
  position: relative;
}

.posts-loop .posts-item .post-thumbnail::after {
  content: '';
  position: absolute;
  left: 8px;
  top: 8px;
  width: 100%;
  height: 100%;
  background: #fff;
  border: 1px solid #eee;
  z-index: -2;
}

.posts-loop .posts-item .post-thumbnail::before {
  content: '';
  position: absolute;
  left: 4px;
  top: 4px;
  width: 100%;
  height: 100%;
  border: 1px solid #eee;
  background: #fff;
  z-index: -1;
}

.posts-loop .posts-item .post-text {
  width: calc(100% - 190px);
}

.posts-loop .posts-item h3 a {
  color: #000;
}

.posts-loop .posts-item .item-details {
  float: left;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 1rem 0;
}

@media only screen and (max-width: 767px) {
  .posts-loop .posts-item .item-details {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.posts-loop .posts-item .tags-list {
  position: relative;
  margin-right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 767px) {
  .posts-loop .posts-item .tags-list {
    margin-bottom: 0.4rem;
  }
}

@media only screen and (min-width: 768px) {
  .posts-loop .posts-item .tags-list::after {
    content: '';
    width: 1px;
    height: 1.1em;
    background: #000;
    margin-left: 15px;
  }
}

.posts-loop .posts-item .cat-list a {
  color: #7d9e07;
}

.custom-pagination {
  float: left;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 6rem 0 2rem;
}

.custom-pagination .page-numbers {
  padding: 8px 15px;
  border: none;
  margin: 0 6px;
  border-radius: 4px;
  background: #b1d334;
  color: #fff;
}

.custom-pagination .page-numbers:hover {
  text-decoration: none;
}

.custom-pagination .page-numbers.current {
  background-color: #f21100;
}

.custom-pagination .page-numbers:not(.current):hover {
  background-color: #7d9e07;
}

.custom-pagination .page-numbers.page-num {
  background-color: #7d9e07;
}

.feat-ads {
  margin: 4rem 0 2rem;
}

.feat-ads .feat-ad {
  margin: 1rem 0;
}

.feat-ads .feat-title h3 {
  font-size: 1.15em;
  font-weight: 600;
}

.container-inner-wrap {
  float: left;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.container.single-post {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.post-info {
  float: left;
  width: 100%;
  margin: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.post-info span {
  padding-right: 15px;
}

.rel-post-item {
  width: calc(25% - 15px);
}

header {
  width: 100%;
  z-index: 10;
  float: left;
  background: #b1d334;
}

@media only screen and (min-width: 1024px) {
  header {
    padding: 2.5rem 0;
  }
}

header a {
  color: #fff;
}

header a:hover {
  color: #fff;
  text-decoration: none;
}

header .header-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  float: left;
  width: 100%;
}

@media only screen and (max-width: 1500px) {
  header .header-inner.show-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100vh;
  }
  header .header-inner.show-menu .main-menu, header .header-inner.show-menu .search-smo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header .header-inner.show-menu .main-menu {
    max-height: 50vh;
    overflow: auto;
  }
  header .header-inner.show-menu .menu-section {
    height: calc(100vh - 100px);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (min-width: 1501px) {
  header .header-inner {
    padding: 0;
  }
}

header .header-inner .menu-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 1500px) {
  header .main-menu {
    display: none;
  }
}

@media only screen and (max-width: 1500px) {
  header .main-menu nav {
    height: 100%;
  }
}

header .main-menu nav ul {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 1500px) {
  header .main-menu nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

header .main-menu nav ul li {
  list-style: none;
  margin: 0 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 1.05em;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media only screen and (min-width: 1501px) and (max-width: 1560px) {
  header .main-menu nav ul li {
    font-size: 0.8em;
  }
}

header .main-menu nav ul li a {
  color: #fff;
}

@media only screen and (max-width: 1500px) {
  header .main-menu nav ul li {
    max-width: 260px;
  }
}

header .main-menu nav ul li.current_page_item a {
  color: #000;
}

header .main-menu nav ul li a:hover {
  text-decoration: none;
  color: #009d4f;
}

header .main-menu nav ul.sub-menu {
  -webkit-box-orient: unset;
  -webkit-box-direction: unset;
      -ms-flex-direction: unset;
          flex-direction: unset;
  -webkit-box-pack: unset;
      -ms-flex-pack: unset;
          justify-content: unset;
  -webkit-box-align: unset;
      -ms-flex-align: unset;
          align-items: unset;
  background: #fff;
  padding: 10px;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  width: 100%;
  display: none;
}

@media only screen and (min-width: 1501px) {
  header .main-menu nav ul.sub-menu {
    position: absolute;
    left: 0;
    top: 100%;
  }
}

header .main-menu nav ul.sub-menu .menu-item {
  float: left;
  width: 100%;
  font-size: 1em;
  margin: 0;
}

header .main-menu nav ul.sub-menu .menu-item a {
  color: #000;
  text-align: center;
  width: 100%;
}

header .main-menu nav ul.sub-menu .menu-item:not(:last-child)::after {
  content: '';
  background: #000;
  height: 1px;
  width: 100%;
  margin: 10px 0;
  float: left;
}

header .main-menu nav .menu-more {
  margin-left: 15px;
}

@media only screen and (max-width: 1500px) {
  header .main-menu {
    height: 60%;
  }
}

header .logo {
  margin: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .logo .logo-img {
  max-width: 100px;
}

@media only screen and (max-width: 1500px) {
  header .logo {
    width: 100%;
  }
}

@media only screen and (min-width: 1500px) {
  header .logo {
    max-width: 330px;
  }
}

header .logo > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

header .logo > a:hover {
  text-decoration: none;
}

header .logo .logo-text {
  text-transform: uppercase;
  margin-left: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 990px) {
  header .logo .logo-text {
    font-size: 12px;
  }
}

header .logo .logo-text .small-s {
  font-size: 1.1em;
  letter-spacing: 2px;
}

header .logo .logo-text::before {
  content: '';
  background: #fff;
  height: 1.5rem;
  width: 1px;
  margin-right: 15px;
  float: left;
}

header .logo .menu-btn {
  background: no-repeat;
  border: none;
  text-transform: uppercase;
  font-size: 1.05em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

header .logo .menu-btn:focus {
  outline: none;
}

header .logo .menu-btn .menu-icon {
  width: 20px;
  float: right;
  height: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 10px;
  position: relative;
}

header .logo .menu-btn .menu-icon .icon-bar {
  float: left;
  width: 100%;
  height: 2px;
  background: #fff;
  clear: both;
}

header .logo .menu-btn.active .icon-bar.top {
  display: none;
}

header .logo .menu-btn.active .icon-bar.mid {
  position: absolute;
  top: calc(50% - 1px);
  left: 0;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

header .logo .menu-btn.active .icon-bar.bottom {
  position: absolute;
  top: calc(50% - 1px);
  left: 0;
}

header .logo .menu-btn.active .menu-icon {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

header .logo .header-menu-btn:focus {
  outline: none;
}

@media only screen and (min-width: 1501px) {
  header .logo .header-menu-btn {
    display: none;
  }
}

header .search-smo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
}

header .search-smo a:hover {
  opacity: 0.8;
}

@media only screen and (max-width: 1500px) {
  header .search-smo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 2rem 0;
    display: none;
    -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
  }
}

header .search-smo > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 25px;
}

@media only screen and (max-width: 1500px) {
  header .search-smo > div {
    margin: 0 0 1rem;
  }
}

header .search-smo .sm-links a {
  color: #fff;
  margin-left: 30px;
}

header .search-smo .header-contact a {
  background: #000;
  color: #fff;
  border: none;
  border-radius: 40px;
  padding: 5px 2rem;
  margin-left: 15px;
  letter-spacing: 2px;
  font-weight: 700;
}

header .smo-row {
  font-size: 20px;
}

header .smo-row a {
  margin: 0 10px;
}

header .header-contact {
  clear: both;
  width: 100%;
}

header .header-search .search-switch {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #000;
  color: #fff;
  padding: 2px 15px;
  font-size: 12px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  z-index: 50;
}

header .header-search .search-switch i {
  margin-left: 15px;
}

@media only screen and (max-width: 1500px) {
  header .header-search .search-switch {
    display: none;
  }
}

header .header-search .search-form-holder {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  padding: 0 15px;
  display: none;
}

@media only screen and (max-width: 1500px) {
  header .header-search .search-form-holder {
    position: relative;
    top: unset;
    left: unset;
    display: block;
  }
}

header .header-search .search-form-holder .sfh-inner {
  width: 100%;
  color: #000;
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 15px 0;
}

header .header-search .search-form-holder .sfh-inner::after {
  content: '';
  background: rgba(255, 255, 255, 0.8);
  height: 100%;
  width: 300%;
  position: absolute;
  left: -100%;
  top: 0;
  z-index: -1;
}

header .header-search .search-form-holder .sfh-inner .search-close-btn {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

@media only screen and (max-width: 1500px) {
  header .header-search .search-form-holder .sfh-inner .search-close-btn {
    display: none;
  }
}

header .header-search .search-form-holder .sfh-inner .search-close-btn .close-cr {
  float: right;
  margin: 0 0 0 15px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

header .header-search .search-form-holder .sfh-inner .search-close-btn .close-cr::after, header .header-search .search-form-holder .sfh-inner .search-close-btn .close-cr::before {
  content: '';
  background: #000;
  height: 1px;
  width: 30px;
}

header .header-search .search-form-holder .sfh-inner .search-close-btn .close-cr::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  position: absolute;
  top: calc(50% - 1px);
  left: 0;
}

header .header-search form.search {
  width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #a7a2a2;
  padding: 15px;
}

@media only screen and (max-width: 1500px) {
  header .header-search form.search {
    width: 100%;
    padding-bottom: 10px;
  }
}

header .header-search .search-input {
  border: none;
  background: none;
  width: 60%;
  font-size: 1.25rem;
  color: #000;
  width: 92%;
}

header .header-search .search-submit {
  border: none;
  background: none;
  font-size: 16px;
  color: #000;
}

@media only screen and (max-width: 1500px) {
  header .header-search {
    margin: 2rem 0;
  }
}

footer {
  clear: both;
  float: left;
  width: 100%;
  background: #000;
  color: #fff;
  margin-top: 4rem;
}

footer a {
  color: #fff;
}

footer a:hover {
  opacity: 0.8;
}

footer .copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  float: left;
  width: 100%;
}

footer .copyright span {
  margin: 1.6rem 0;
}

@media only screen and (max-width: 990px) {
  footer .copyright {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=styles.css.map */